{% extends 'base.html' %}
{% load static %} {% block content %}

<!-- Slides Start-->
<center>
    <div class="div container-fluid p-5 slide1">
      <div class="row">
        <div class="col ">
     <img src="{% static '/img/car.png' %}" >
    </div>
    </div>
    </div>
</center>  
<!--Slides End-->
</br>
<div class="jumbotron jumbotron-fluid crf-hero d-flex" style="background-color:dimgray;">
    <div class="container d-flex flex-column justify-content-center align-items-sm-stretch align-items-md-center">
        <h1 id="message">GREAT DEALS !!</h1>
    </br>
        <h2 id="percent-off">20% OFF</h2>
        <p class="lead">THROUGHOUT THE SEASON</p>
    </div>
</div>
<!--Offer End-->
<center>
<!--Video Start-->
<div class="vid p-3">
<video width="70%" autoplay muted  loop>
 <source src="{% static '/videos/vid.mp4' %}" type="video/mp4">
  Your Browser doesn't support the video format
</video> 
</div>
</center>

<!--Video End-->
</br>
<!--EXTRA Footer-->

<section id="services" class="py-5 bg-secondary text-white">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-4">
          <i class="fas fa-comment fa-4x mr-4"></i>
          <hr>
          <h3>Consulting Services</h3>
          <p>Feel free to contact us anytime , We will help you to make the right decisions.</p>
        </div>
        <div class="col-md-4">
          <i class="fas fa-car fa-4x mr-4"></i>
          <hr>
          <h3>Cars</h3>
          <p>We have wide variety of cars to choose from , We also import cars from other countries.</p>
        </div>
        <div class="col-md-4">
          <i class="fas fa-suitcase fa-4x mr-4"></i>
          <hr>
          <h3>Renting & Selling</h3>
          <p>We provide the best quality cars and nothing less.</p>
        </br>
    </br>
        </div>
      </div>
    </div>
  </section>

<!-- Extra Footer End-->
{% endblock %}