{% extends 'base.html' %} 

{% block title%} | Custom Search {% endblock %}

{% block content %}

{%  load humanize %}

<section id="showcase-inner" class="showcase-search text-white py-5" >
    <div class="container p-5" style="background-color: deepskyblue;">
      <div class="row text-center">
        <div class="col-md-12">
          <form action="{% url 'search' %}">
            <!-- Form Row 1 -->
            <div class="form-row">
              <div class="col-md-4 mb-3">
                <label class="sr-only">Keywords</label>
                <input type="text" name="keywords" class="form-control" placeholder="Keyword (Pool, Garage, etc)"
                value="{{values.keywords}}">
              </div>

              <div class="col-md-4 mb-3">
                <label class="sr-only">Company</label>
                  <select name="company" class="form-control">
                    <option selected="true" disabled="disabled">company</option>
                    {% for key,value in companyc.items %}
                     <option value="{{key}}" 
                     {% if key == values.company %}
                       selected 
                     {% endif %}
                     >{{value}}</option>
                    {% endfor %}
                  </select>
              </div>

              <div class="col-md-4 mb-3">
                <label class="sr-only">Showroom</label>
                  <select name="showroom" class="form-control">
                    <option selected="true" disabled="disabled">showroom</option>
                    {% for key,value in showroomc.items %}
                     <option value="{{key}}" 
                     {% if key == values.showroom %}
                       selected 
                     {% endif %}
                     >{{value}}</option>
                    {% endfor %}
                </select>
              </div>
            </div>
            <!-- Form Row 2 -->
            <div class="form-row">
              <div class="col-md-6 mb-3">
                <label class="sr-only">Seats</label>
                <select name="seats" class="form-control">
                  <option selected="true" disabled="disabled">Seats</option>
                  {% for key,value in seatsc.items %}
                   <option value="{{key}}" 
                   {% if key == values.seats %}
                       selected 
                     {% endif %}
                   >{{value}}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="col-md-6 mb-3">
                <select name="price" class="form-control" id="type">
                    <option selected="true" disabled="disabled">Max Price (Any)</option>
                    {% for key,value in pricec.items %}
                     <option value="{{key}}" 
                     {% if key == values.price %}
                       selected 
                     {% endif %}
                     >{{value}}</option>
                    {% endfor %}
                </select>
              </div>
            </div>
            <button class="btn btn-primary btn-block mt-4" type="submit">Submit form</button>
          </form>
        </div>
      </div>
    </div>
  </section>

  <!-- Breadcrumb -->
  <section id="bc" class="mt-3">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{% url 'index' %}">
              <i class="fas fa-home"></i> Home</a>
          </li>
          <li class="breadcrumb-item">
            <a href="{% url 'listings' %}">Browse Listings</a>
          </li>
          <li class="breadcrumb-item active"> Search Results</li>
        </ol>
      </nav>
    </div>
  </section>

  <!-- Listings -->
  <section id="listings" class="py-4">
    <div class="container">
      <div class="row">

        <!-- Listing 1 -->
        {% if listings %}
            
            {% for listing in listings %}
               <!-- Listings -->
                <div class="col-md-6 col-lg-4 mb-4">
                  <div class="card listing-preview">
                    <img class="card-img-top" src="{{ listing.photo_main.url }}" alt="">
                    
                    <div class="card-body">
                      <div class="listing-heading text-center">
                        <h4 class="text-primary">{{ listing.name }}</h4>
                        <p>
                          <i class="fa fa-rupee text-secondary" aria-hidden="true"></i>RS {{ listing.price | intcomma }}/-</p>
                      </div>
                      <hr>
                      <div class="row py-2 text-secondary">
                        <div class="col-6">
                          <i class="fas fa-car"></i> {{ listing.category }}</div>
                        <div class="col-6">
                          <i class="fas fa-male"></i> {{ listing.seats }} </div>
                      </div>
                      <div class="row py-2 text-secondary">
                        <div class="col-6">
                          <i class="fas fa-palette"></i> 3 colours</div>
                        <div class="col-6">
                          <i class="fas fa-star"></i> {{ listing.rating }}</div>
                      </div>
                      <hr>
                      <div class="row py-2 text-secondary">
                        <div class="col-12">
                          <i class="fas fa-building"></i> {{ listing.company }}</div>
                      </div>
                      <div class="row py-2 text-secondary">
                        <div class="col-12">
                          <i class="fas fa-user"></i> {{ listing.office }}</div>
                      </div>
                      <div class="row text-secondary py-2">
                        <div class="col-6">
                          <i class="fas fa-clock"></i> {{ listing.list_date | timesince }}</div>
                      </div>
                      <hr>
                      <a href="{% url 'listing' listing.id %}" class="btn btn-success btn-block">View Car</a>
                    </div>
                  </div>
                </div> 
            
            {% endfor %}
            
        {% else %}
        <div class="col-md-12">
          <p>SORRY , NO CARS AVAILABLE !</p>
        </div> 
        {% endif %}

      </div>
    </div>
  </section>
{% endblock %}